{% extends 'admin/change_list.html' %}
{% block object-tools %}
<form id="fontsize-form" method="POST">
    {% csrf_token %}
    <input name="fontsize" class="vTextField">
    <button class="button" type="submit"> change font Size </button>
</form>
<br>
<script>
    let fontSizeForm = document.querySelector('#fontsize-form')
    fontSizeForm.querySelector('input[name="fontsize"]').addEventListener('change',function(e){
    let fontSize = e.target.value
    fontSizeFormaction = 'fontsize/' + fontsize + '/'
})
</script>
{{ block.super }}
{% endblock objects-tools %}